{% for view in views %}
CREATE MATERIALIZED VIEW validol.{{ view.name }} AS
SELECT
    data.event_dttm,
    {% for dimension_column in view.dimension_columns %}
    index.{{ dimension_column }},
    {% endfor %}
    {% for measure_column in view.measure_columns %}
    data.{{ measure_column }}{% if not loop.last %},{% endif +%}
    {% endfor %}
FROM validol_interface.{{ view.name }}_data AS data
INNER JOIN validol_interface.{{ view.name }}_index AS index
    ON index.series_id = data.series_id
WHERE index.visible;

{% set index_columns = view.get('index_columns', view.dimension_columns) %}
{% if index_columns %}
CREATE INDEX {{ view.name }}_catalogue_index
    ON validol.{{ view.name }} ({% for index_column in index_columns%}{{ index_column }}{% if not loop.last %}, {% endif %}{% endfor %});
{% endif %}

ALTER TABLE validol.{{ view.name }} OWNER TO validol_internal;

{% endfor %}
